* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  font-family: sans-serif;
}
UL{
  list-style-type:none;
  padding:0;
}
LI > UL{
  padding-left: 25px;
}
.contain{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 50px repeat(3,1fr);
}
.roller, .list{
  grid-area: 2/1/span 3/span 3;
  left: 0;
  background: #FFF;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.usage{
  text-align: center;
  pointer-events: none;
  grid-area: 1 / 1 / 1 / span 3;
  padding-top: 7px;
}
.usage P{
  margin: 0;
}
.roll{
  width: 83%;
}
.save{
  width: 15%;
}
.roll, .save {
  height: 10%;
}
.result{
  width: 100%;
  height:100%;
  overflow-y:auto;
}
.list LI{
  margin:2px 0;
  width:100%;
  height: 20px;
  display: flex;
  align-items: center;
}
.list LI:hover{
  background:#555;
  color:#fff;
  cursor:default;
}
.listCont{
  background:#eee;
  overflow-y:auto;
  overflow-x:hidden;
  padding: 0 2px;
}
.saved{
  margin: 0;
}
.list LI SPAN:last-child{
  width: 100%;
  padding-left: 5px;
}
.delete{
  color:#eee;
  margin-right:4px;
  height: 16px;
  width:16px;
  text-align:center;
  font-size:14px;
  order: 2;
}
.delete:hover{
  background:#999;
  color:#555;
  cursor:default;
  border-radius:50%;
}
.disabled{
  color:#f22;
}
.max{
  color:#2f2;
}
.helpBlur{
  background:rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  grid-area: 1/1/span 4/span 3;
}
.helpContain{
  background:#fff;
  align-self: center;
  padding: 8px;
  max-width: 90%;
  border-radius: 5px;
}
.helpBlur.small .helpContain{
  overflow-y: scroll;
  border-radius: 0;
  align-self: initial;
}
.helpContain LI{
  margin-bottom: 2px;
}